.navbar{
  background-color: white;
  height: 100vh;
  width:30%;
  position: absolute;
  left: 0;
  top: 0;
  position: fixed;
  /* box-shadow: 0px 0px 25px 0px #000000e1; */
  text-align: center;
  box-shadow: 0px 9px 99px rgba(0, 0, 0, 0.16), 0px 4.47158px 45.8993px rgba(0, 0, 0, 0.109469), 0px 2.69338px 27.3267px rgba(0, 0, 0, 0.0876514), 0px 1.64233px 17.0815px rgba(0, 0, 0, 0.0703366), 0px 0.936753px 10.1546px rgba(0, 0, 0, 0.0525205), 0px 0.418089px 4.73652px rgba(0, 0, 0, 0.0306863);
}
.logo{
  width:160px;
  margin-top: 8vh;
  /* position: relative; */
  /* border-color: blue;
  border-style: solid; */
  /* margin: 10px auto; */
  /* width: 100%; */
  /* text-align: center; */
}
.options{
  margin: 50px auto;
  /* margin-bottom: 60px; */
  /* border-color: blue;
  border-style: solid; */
  text-align: left;
  width:80%;
  /* padding-left: 100px; */
}
.addbutton{
  background-color: #EF233C;
  border-style: none;
  padding: 15px 60px;
  font-family: 'Poppins', sans-serif;
  /* font-size: 20px; */
  font-weight: 400;
  border-radius: 20px;
  /* box-shadow: 0px 0px 25px 0px #000000e1; */
  box-shadow: 0px 75px 186px rgba(239, 35, 60, 0.14), 0px 31.3332px 77.7064px rgba(239, 35, 60, 0.10064), 0px 16.7522px 41.5455px rgba(239, 35, 60, 0.083455), 0px 9.39116px 23.2901px rgba(239, 35, 60, 0.07), 0px 4.98758px 12.3692px rgba(239, 35, 60, 0.056545), 0px 2.07544px 5.1471px rgba(239, 35, 60, 0.0393604);
  cursor: pointer;
  outline: none;
}
.plus{
  width:14px;
  margin-right: 10px;
  margin-bottom: -2.5px;
  
  /* box-shadow: 0px 75px 186px rgba(239, 35, 60, 0.14), 0px 31.3332px 77.7064px rgba(239, 35, 60, 0.10064), 0px 16.7522px 41.5455px rgba(239, 35, 60, 0.083455), 0px 9.39116px 23.2901px rgba(239, 35, 60, 0.07), 0px 4.98758px 12.3692px rgba(239, 35, 60, 0.056545), 0px 2.07544px 5.1471px rgba(239, 35, 60, 0.0393604); */
}
.subtitle{
  margin-top: -15px;
  font-weight: 300;
  font-size: 12px;
}
.tab{
  opacity: 50%;
  cursor: pointer;
}
.tab-active{
  cursor: pointer;
}
.icon{
  padding: 20px;
  width:24px;
}

.components{
  margin-left: 30%;
}

.explore{
  margin-top:10vh;
  margin-left: 40px;
  /* font-family: 'Poppins', sans-serif; */
}
.explore > h1{
  font-size: 2.6rem;
}
.explore > h2{
  font-size: 2.1rem;
  font-weight: 600;
  margin-top: 10vh;
}
.subtext{
  font-size: 1.1rem;
  font-weight: 300;
  color: #717171;
  margin-top: -15px;
}
.location{
  width:10px;
  margin-right: 10px;
  margin-bottom: -2.5px;
}
.change{
  background-color: #EDF2F4;
  border-style: none;
  padding: 15px 40px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  border-radius: 20px;
  /* box-shadow: 0px 0px 25px 0px #000000e1; */
  /* box-shadow: 0px 75px 186px rgba(239, 35, 60, 0.14), 0px 31.3332px 77.7064px rgba(239, 35, 60, 0.10064), 0px 16.7522px 41.5455px rgba(239, 35, 60, 0.083455), 0px 9.39116px 23.2901px rgba(239, 35, 60, 0.07), 0px 4.98758px 12.3692px rgba(239, 35, 60, 0.056545), 0px 2.07544px 5.1471px rgba(239, 35, 60, 0.0393604); */
  cursor: pointer;
  outline: none;
}
.search{
  width:85%;
  /* text-align: right; */
  /* border-color: blue;
  border-style: solid; */
  margin: 40px 0px;
}
.searchbox{
  width: 40%;
  height: 40px;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border-style: none;
  padding-left: 50px;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #717171;
}
.card{
box-shadow: 0px 0px 8px 0px #0000004f;
  border-radius: 20px;
  /* width:1000px; */
  min-width: 700px;
  height: 240px;
  padding: 30px;
  display: flex;
  margin: 10px;
  /* flex-direction: row; */
  /* align-items: flex-start; */
}
.image{
  height: 100%;
  /* width: ; */
  /* width: inherit; */
  margin-right: 30px;
  border-radius: 20px;
}
.businesshead{
  font-weight: 600;
  margin-top: 0;
}
.typetext{
  font-size: 1.3rem;
  font-weight: 300;
  color: #717171;
  margin-top: -20px;
}
.cards{
  display: flex;
  height: calc(100% + 50px);
  /* flex-direction: row; */
  /* align-items: flex-start; */
  /* width: calc(100%); */
  /* width: 200vw; */
  /* border-color: blue;
  border-style: solid; */
  overflow-y: hidden;
  /* background-image: none !important;
  background: transparent !important; */
  background-color: #fff;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
  margin: 50px 0px;
}
.cards::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color:  #fff; 
}
::-webkit-scrollbar-thumb {
  background-color:#EF233C;
  background-repeat: no-repeat;
}
/* tablet */
@media (max-width:1139px){
  .navbar{
    display: none;
  }
  .components{
    margin-left: 0;
  }
  
}


/* mobile */
@media (max-width:767px){
  .explore > h1{
    font-size: 1.4rem;
  }
  .location{
    width:7px;
    margin-right: 10px;
    margin-bottom: -1px;
  }
  .change{
    padding: 15px 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    font-weight: 500;
    border-radius: 20px;
    /* box-shadow: 0px 0px 25px 0px #000000e1; */
    /* box-shadow: 0px 75px 186px rgba(239, 35, 60, 0.14), 0px 31.3332px 77.7064px rgba(239, 35, 60, 0.10064), 0px 16.7522px 41.5455px rgba(239, 35, 60, 0.083455), 0px 9.39116px 23.2901px rgba(239, 35, 60, 0.07), 0px 4.98758px 12.3692px rgba(239, 35, 60, 0.056545), 0px 2.07544px 5.1471px rgba(239, 35, 60, 0.0393604); */
    cursor: pointer;
    outline: none;
  }
}
